<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/ayush.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content">
      I am a Visiting Research Scholar at Georgia Institute of Technology,
      advised by <a href="https://www.cc.gatech.edu/~parikh/" target="_blank">Dr. Devi Parikh</a>
      and <a href="https://www.cc.gatech.edu/~dbatra/" target="_blank">Dr. Dhruv Batra</a>.
      My research interests primarily lie in deep learning at the intersection of computer vision and natural language processing.
    </p>
    <p class="content">
    I completed my undergraduate degree in Computer Science from <a href="http://www.iitbhu.ac.in/" target="_blank">Indian Institute of Technology (BHU) Varanasi</a>.
    I spent the summers 2017 working as a research intern at HESL, NTU Singapore under the supervision of <a href="http://www.ntu.edu.sg/home/assklam/" target="_blank">Prof. Lam Siew Kei</a>.
    </p>
    <p class="content">
    Feel free to reach out to me at <b>ayshrv at gatech dot edu</b>
    </p>
    <p class="content">
    <span class="content">Other important links:  </span>

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/ayshrv/">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ayshrv" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/ayshrv">
      <span class="fa fa-facebook"></span>
    </a>
    </p>
  </div>
</div>
