<div class="row">
  <h2>About Me</h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/ayush.jpg" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content">
      I am a second year CS PhD student at University of Michigan, Ann Arbor advised by <a href="http://andrewowens.com/" target="_blank">Prof. Andrew Owens</a>. 
      I work in problems related to Computer Vision and Multimodal learning (vision, language, audio). Recently, I have been working on learning correspondences for long-range tracking.
    </p>
    <p class="content">
      I finished my Masters in Computer Science at Georgia Tech,
      advised by <a href="https://www.cc.gatech.edu/~parikh/" target="_blank">Prof. Devi Parikh</a>.
      and before that, I was a visiting research scholar  at Georgia Tech under <a href="https://www.cc.gatech.edu/~parikh/" target="_blank">Prof. Devi Parikh</a>
      and <a href="https://www.cc.gatech.edu/~dbatra/" target="_blank">Prof. Dhruv Batra</a>.
      <!-- My research interests primarily lie in deep learning at the intersection of computer vision, natural language processing and robotics. -->
    </p>
    <p class="content">
    I completed my undergraduate degree in Computer Science from <a href="http://www.iitbhu.ac.in/" target="_blank">Indian Institute of Technology (BHU) Varanasi</a>.
    I spent the summers 2017 working as a research intern at HESL, NTU Singapore under the supervision of <a href="http://www.ntu.edu.sg/home/assklam/" target="_blank">Prof. Lam Siew Kei</a>.
    </p>

    <p class="content">
      <!-- I am actively looking for <b>internship positions for Summers 2021</b>.  -->
      <!-- I am applying to <b>PhD programs for Fall 2021</b>. Please reach out to me for any openings. -->
      <!-- I will be starting my PhD at University of Michigan with <a href="http://andrewowens.com/" target="_blank">Andrew Owens</a> in Fall 2021. -->
    </p>

    <p class="content">
    Email: <b>ayshrv at umich dot edu</b>
    </p>
    <p class="content">
      Find my <b>CV</b> here:
    <a href="/static/docs/AyushCV.pdf" target="_blank"><img src="/static/img/cv_logo.png" height="35px"></a>
    </p>
    <span class="content">You can also find me at:  </span>

    <a class="btn btn-social-icon" href="https://scholar.google.com/citations?user=vW3djsoAAAAJ&hl=en" target="_blank">
      <img src="/static/img/google-scholar-square.svg" height="35px">
      <!-- <span class="fa fa-github"></span> -->
    </a>

    <a class="btn btn-social-icon btn-github" href="https://github.com/ayshrv" target="_blank">
      <span class="fa fa-github"></span>
    </a>

    <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ayshrv" target="_blank">
      <span class="fa fa-twitter"></span>
    </a>

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/ayshrv/">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/ayshrv">
      <span class="fa fa-facebook"></span>
    </a>
  </div>
</div>
