<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">PhD in Computer Science</h3>
      <h4 class="content_heading">University of Michigan, Ann Arbor</h4>
        <!-- <p class="content">Specialization in Machine Learning</p> -->
        <!-- <p class="content">Expected Graduation: May 2021</p> -->
        <!-- <p class="content">Expected GPA: <em>4.0/4.0</em></p> -->
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/experience/umich.jpeg" width="50%">
      <p>(August 2021 - Present)</p>
    </div>
  </div>
  <div class="row" style="height: 10px;">
    <div class="col-sm-8"></div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Master of Science in Computer Science</h3>
      <h4 class="content_heading">Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Specialization in Machine Learning</p>
        <p class="content">GPA: <em>4.0/4.0</em></p>
    </div>
    
    <div class="col-sm-3" align="center">
      <img src="static/img/experience/gt.png" width="80%">
      <p>(August 2019 - May 2021)</p>
    </div>
  </div>

  <div class="row" style="height: 30px;">
    <div class="col-sm-8"></div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Computer Science and Engineering</h3>
      <h4 class="content_heading">Indian Institute of Technology (BHU) Varanasi</h4>
        <p class="content">GPA: <em>9.20 / 10.0</em></p>
        <!-- <p class="content">Class Rank: <em>9th rank (or top-6%)</em></p> -->
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/experience/iitbhu.png" width="50%">
      <p>(July 2014 - May 2018)</p>
    </div>
  </div>

</div>
