<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Graduate Research Assistant, <a target="_blank" href="https://umich.edu/">University of Michigan</a></h3>
          <p class="content">
            Supervisor: <a target="_blank" href="https://andrewowens.com/">Prof. Andrew Owens</a><br/><br/>

            - Working on problems related to Computer Vision and multimodal learning (vision, language, audio).
          </p>
      </div>
      <div class="col-sm-3" style="height: 40px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center" >
        <img src="static/img/experience/umich.jpeg" width="120px">
        <p>(August 2021 - Present)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Applied Scientist Intern, Amazon Alexa AI</h3>
          <p class="content">
            Supervisor: <a target="_blank" href="https://jessethomason.com">Prof. Jesse Thomason</a>, <a target="_blank" href="https://www.linkedin.com/in/rpiramuthu/">Robinson Piramuthu</a><br/><br/>

            - Worked on TEACh, a new benchmark released for human–human, interactive dialogues to complete household tasks in simulation on AI2-THOR. <a href="#teach">[AAAI 2022]</a>.<br/>
          </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/amazon.png" width="120px">
        <p>(May 2021 - August 2021)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Graduate Research Assistant, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab</a>, <a target="_blank" href="https://www.gatech.edu/">Georgia Tech</a></h3>
          <p class="content">
            Supervisor: <a target="_blank" href="https://www.cc.gatech.edu/~parikh/">Prof. Devi Parikh</a><br/><br/>

            - Worked on problems that related to Embodied AI and Vision & Language.<br/>
            - Papers published at <a href="#vlnbert-eccv2020">ECCV 2020</a> and <a href="#vln-sim2real-corl2020">CoRL 2020</a>.<br/>
            - Organized <a target="_blank" href="https://visualqa.org/challenge_2020">VQA Challenge 2020</a>, <a target="_blank" href="https://visualqa.org/challenge">2021</a> and <a target="_blank" href="https://visualqa.org/workshop_2020">VQA and Dialog Workshop at CVPR 2020</a>, <a target="_blank" href="https://visualqa.org/workshop">CVPR 2021</a>. <br/>
            - Co-organized <a target="_blank" href="https://visualdialog.org/challenge">Visual Dialog Challenge 2020</a>.
          </p>
      </div>
      <div class="col-sm-3" style="height: 40px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center" >
        <img src="static/img/experience/gt.png" width="120px">
        <p>(August 2019 - May 2021)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Applied Scientist Intern, Amazon Alexa AI</h3>
          <p class="content">
            Supervisor: <a target="_blank" href="https://www.linkedin.com/in/dilek-hakkani-tur-9517543">Dilek Hakkani-T&#252r</a><br/><br/>

            - Worked on building agents that can solve a navigation task by holding dialog with each other in a cooperative setting. <a href="#visitron">[ACL 2022]</a>.<br/>
          </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/amazon.png" width="120px">
        <p>(May 2020 - August 2020)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9" >
        <h3 class="content_heading">Visiting Research Scholar, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab</a>, <a target="_blank" href="https://www.gatech.edu/">Georgia Tech</a></h3>
          <p class="content" style="margin-right:-100px;">
            Supervisor: <a target="_blank" href="https://www.cc.gatech.edu/~parikh/">Prof. Devi Parikh</a> and <a target="_blank" href="https://www.cc.gatech.edu/~dbatra/">Prof. Dhruv Batra</a><br/><br/>

            - Worked on solving navigation instruction following in 3D environments by following an ideal agent trajectory <a href="#chasing-ghosts-neurips2019">[NeurIPS 2019]</a>.<br/>
            - Co-organized the first two Visual Dialog Challenge at <a target="_blank" href="https://visualdialog.org/challenge/2018">ECCV 2018</a> and <a target="_blank" href="https://visualdialog.org/challenge/2019">CVPR 2019</a>.<br/>
            - Co-orgranized <a target="_blank" href="https://visualqa.org/challenge_2019">VQA Challenge at CVPR 2019</a>.<br/>
            - Co-organized <a target="_blank" href="https://visualqa.org/workshop_2019">VQA and Dialog Workshop at CVPR 2019</a>.
          </p>
      </div>
      <div class="col-sm-3" style="height: 40px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/gt.png" width="120px">
        <p>(August 2018 - May 2019)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="http://scse.ntu.edu.sg/research/hesl/Pages/Home.aspx">HESL</a>, <a target="_blank" href="https://www.ntu.edu.sg/Pages/home.aspx">Nanyang Technological University</a></h3>
          <p class="content">
            Supervisor: <a target="_blank" href="http://www.ntu.edu.sg/home/assklam/">Prof. Lam Siew Kei</a>, <a target="_blank" href="http://research.ntu.edu.sg/expertise/academicprofile/Pages/StaffProfile.aspx?ST_EMAILID=ASTSRIKAN">Prof. Thambipillai Srikanthan</a><br/><br/>

            Worked on reducing the complexity of semantic segmentation models for autonomous driving so that they could be run on machines with low computation power (and no GPUs!) in real time.
            <!-- <br> -->
            <br>
            <a href="https://github.com/ayshrv/mobilenet_psp" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a>
            </p>
      </div>
      <div class="col-sm-3" style="height: 40px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/ntu.png" width="150px">
        <p>(May 2017 - July 2017)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.drdo.gov.in/drdo/labs1/SAG/English/indexnew.jsp?pg=homepage.jsp">SAG Lab</a>, <a target="_blank" href="https://www.drdo.gov.in/">Defence Research and Development Organisation</a></h3>
          <p class="content">Supervisor: <a target="_blank" href="https://www.drdo.gov.in/drdo/English/indexCorpDir.jsp?pg=Director.jsp&dir=Cyber">Dr. Saibal K. Pal</a><br/><br/>

          Worked on Extreme Learning Machines and their application to object recognition and blind blur detection.
          </p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/drdo.png" width="150px">
        <p>(May 2016 - July 2016)</p>
      </div>
    </div>

  <!-- <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Student Developer, CloudCV, <a href="https://www.google-melange.com/archive/gsoc/2015/orgs/cloudcv">Google Summer of Code 2015</a> </h3>
        <p class="content">Selected for GSOC 2015 under CloudCV Organization. My responsibilities included integrating NVIDIA's Deep Learning Framework DIGITS to provide workspaces for the researchers and other computer vision developers.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gsoc2015.jpg" width="150px" height="130px">
      <p>(April 2015 - August 2015)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Development Internship, <a href="cityflo.com">Cityflo</a> </h3>
        <p class="content">Responsible for setting an automated test suite for Continuous Integration in the backend codebase which led to a very lean software engineering team as the team was able to spend more time on building new features rather than maintaining and fixing bugs and issues.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/cityflo.png" width="100px" height="100px">
      <p>(December 2015 - February 2016)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Software Development Internship, <a href="http://siftr.co/">Siftr Labs</a> </h3>
        <p class="content">Worked on building an IoT based product for indoor navigation in big offices and malls using Beacons (Low Energy Bluetooth devices). I was responsible for building REST APIs and creating the Android Application from scratch which communicates with the beacons to get real time position of a person using beacons signal strength.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/siftr.png" width="100px" height="50px">
      <p>(September 2015 - December 2015)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Backend Developer, <a href="fratmart.com">Fratmart</a></h3>
        <p class="content">Responsible for the development of the whole product from scratch, managing the server, Database management and other backend scripting.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/fratmart.jpg" width="100px" height="100px">
      <p>(August 2014 - December 2014)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Backend Developer Internship, <a href="https://takezero.in/">TakeZero</a></h3>
        <p class="content">Responsible for development of <a href="http://takezero.in">company's web application</a>, Facebook App development and setting up NoSQL database. Implemented scripts to do image enhancement, and cropping borders etc.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/takezero.jpg" width="100px" height="100px">
      <p>(May 2014 - July 2014)</p>
    </div>
  </div> -->
</div>
