<div class="row">
  <h2>News</h2>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-body">
        <ul id="news_list">
          <li class="newsElement">Oct 2020: Our paper '<a href="#vln-sim2real-corl2020">Sim-to-Real Transfer for Vision-and-Language Navigation</a>' was accepted to CoRL 2020!</li>
          <li class="newsElement">Jul 2020: Our paper '<a href="#vlnbert-eccv2020">Improving Vision-and-Language Navigation with Image-Text Pairs from the Web</a>' was accepted as Spotlight in ECCV 2020!</li>
          <li class="newsElement">May 2020: Interning at Amazon Alexa AI with <a target="_blank" href="https://www.linkedin.com/in/dilek-hakkani-tur-9517543/">Dilek Hakkani-T&#252r</a> for Summers 2020.</li>
          <li class="newsElement">Jan 2020: Organizing the <a target="_blank" href="https://visualqa.org/workshop">Visual Question Answering and Dialog Workshop</a> at CVPR 2020.</li>
          <li class="newsElement">Aug 2019: Our paper '<a href="#chasing-ghosts-neurips2019">Chasing Ghosts: Instruction Following as Bayesian State Tracking</a>' was accepted to NeurIPS 2019</a>!</li>
          <li class="newsElement">Jan 2019: Organizing the <a target="_blank" href="https://visualqa.org/challenge_2019">4th Visual Question Answering Challenge</a>.</li>
          <li class="newsElement">Jan 2019: Co-organizing the <a target="_blank" href="https://visualdialog.org/challenge/2019">2nd Visual Dialog Challenge</a>.</li>
          <li class="newsElement">Jan 2019: Co-organizing the <a target="_blank" href="https://visualqa.org/workshop_2019">Visual Question Answering and Dialog Workshop</a> at CVPR 2019.</li>
          <div class="collapse" id="read-more">
          <li class="newsElement">Oct 2018: Representing <a target="_blank" href="https://cloudcv.org/">CloudCV</a> at Google Summer of Code Mentor Summit 2018, Google Sunnyvale.</li>
          <li class="newsElement">July 2018: Joining as a Visiting Research Scholar at Georgia Tech where I will be working with Prof. <a target="_blank" href="https://www.cc.gatech.edu/~parikh/">Devi Parikh</a> and Prof. <a target="_blank" href="https://www.cc.gatech.edu/~dbatra/">Dhruv Batra</a></li>
          <li class="newsElement">June 2018:  Co-organizing the <a target="_blank" href="https://visualdialog.org/challenge/2018">Visual Dialog Challenge</a> with results announced at ECCV 2018.</li>
          <li class="newsElement">May 2018: Graduated from <a target="_blank" href="https://iitbhu.ac.in/">IIT (BHU) Varanasi</a> with Bachelors of Technology in Computer Science and Enigeering</li>
          <li class="newsElement">April 2018: Serving as a <a target="_blank" href="https://summerofcode.withgoogle.com/">Google Summer of Code</a> mentor with <a target="_blank" href="https://cloudcv.org/">CloudCV</a> organization for the <a target="_blank" href="http://fabrik.cloudcv.org/">Fabrik</a> project</li>
          <li class="newsElement">May 2017: Presented <a href="Memento">Memento</a> at <a target="_blank" href="https://www.acadaccelerator.com/Home/CFDShowCase">code.fun.do SHOWCASE 2017</a> where 34 finalist teams from top colleges in India participated. Team name: Think.Work.Win </li>
          <li class="newsElement">April 2017: Presented 3 posters at Institute Day 2017 held at IIT (BHU) Varanasi.
            <div class="row">
              <div class="col-sm-4" align="center">
                <span><a href="/static/docs/Transport.pdf" target="_blank"><img src="/static/img/posters/transport.png" width="40%"></a>
              </div>
              <div class="col-sm-4" align="center">
                <a href="/static/docs/Mammogram.pdf" target="_blank"><img src="/static/img/posters/mammogram.png" width="40%"></a>
              </div>
              <div class="col-sm-4" align="center">
                <a href="/static/docs/Memento.pdf" target="_blank"><img src="/static/img/posters/memento.png" width="40%"></a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4" align="center">
                <a href="/static/docs/Transport.pdf" target="_blank">
                  Transportation Mode Detection Using Smartphone Sensors
                </a>
              </div>
              <div class="col-sm-4" align="center">
                <a href="/static/docs/Mammogram.pdf" target="_blank">
                  Automated Segmentation and Retrieval Framework for Diagnosis of Breast Cancer From Mammograms
                </a>
              </div>
              <div class="col-sm-4" align="center">
                <a href="/static/docs/Memento.pdf" target="_blank">
                  Memento : Never Forget a Thing!
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <p style="text-align:center">
      <button id="read-more-less-button" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#read-more" aria-expanded="false" aria-controls="read-more">
        Read More
      </button>
    </p>
  </div>
  </div>


</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>

<script>
  $(document).ready(function(){
    $("#read-more").on("hide.bs.collapse", function(){
      $("#read-more-less-button").html('Read More');
    });
    $("#read-more").on("show.bs.collapse", function(){
      $("#read-more-less-button").html('Read Less');
    });
  });
</script>
