  <div class="row">
    <div></div>
    <h2>Publications</h2>
    <hr>
    <div class="row" id="teach" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/teach.png" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">TEACh: Task-driven Embodied Agents that Chat
          </h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Aishwarya Padmakumar<sup>*</sup>, Jesse Thomason<sup>*</sup>, <b>Ayush Shrivastava</b>, Patrick Lange, Anjali Narayan-Chen, Spandana Gella, Robinson Piramithu, Gokhan Tur, and Dilek Hakkani-Tur
                <br><span class="conf">AAAI 2022</span>
                <br>
                <br>
                <a href="https://arxiv.org/abs/2110.00534" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <a href="https://teachingalfred.github.io" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Website</button></a>
                <a href="https://github.com/alexa/teach" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a>
                <a href="https://www.amazon.science/blog/new-dataset-for-training-household-robots-to-follow-human-commands" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Coverage</button></a>
                

                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="visitron" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/visitron.png" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">VISITRON: Visual Semantics-Aligned Interactively Trained Object-Navigator
          </h3>
          <p class="content">
            <p class="pubd">
                <span class="authors"><b>Ayush Shrivastava</b>, Karthik Gopalakrishnan, Yang Liu, Robinson Piramuthu, Gokhan Tür, Devi Parikh, Dilek Hakkani-Tür</span>
                <br><span class="conf">Findings of ACL 2022</span>
                <br><span class="conf">ViGIL Workshop at NAACL 2021</span>
                <br>
                <br>
                <a href="https://arxiv.org/abs/2105.11589" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <a href="https://github.com/alexa/visitron" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="vln-sim2real-corl2020" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/vln-sim2real-gif.gif" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Sim-to-Real Transfer for Vision-and-Language Navigation</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Peter Anderson, <b>Ayush Shrivastava</b>, Joanne Truong, Arjun Majumdar, Devi Parikh, Dhruv Batra, Stefan Lee</span>
                <br><span class="conf">CoRL 2020</span>
                <br>
                <br>
                <a href="https://arxiv.org/abs/2011.03807" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <a href="https://github.com/batra-mlp-lab/vln-sim2real" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="vlnbert-eccv2020" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/vln-bert.png" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Improving Vision-and-Language Navigation with Image-Text Pairs from the Web</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Majumdar, <b>Ayush Shrivastava</b>, Stefan Lee, Peter Anderson, Devi Parikh, Dhruv Batra</span>
                <br><span class="conf">ECCV 2020 <span style="color: green">(Spotlight) [Top 5%]</span></span>
                <br><span class="conf"><a href="https://larel-ws.github.io/" target="_blank">ICML 2020 LaReL Workshop</a> <span style="color: green">(Best Paper Honorable Mention)</span></span>
                <br>
                <br>
                <a href="https://arxiv.org/abs/2004.14973" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <a href="https://larel-ws.github.io/assets/pdfs/improving_vision_and_language_navigation_with_image_text_pairs_from_the_web.pdf" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Extended Abstract</button></a>
                <a href="https://youtu.be/Q4m3p3AYTOg" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Video (short)</button></a>
                <a href="https://youtu.be/svGDWs0vqaw" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Video (long)</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="chasing-ghosts-neurips2019" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/chasing_ghosts.png" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Chasing Ghosts: Instruction Following as Bayesian State Tracking</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Peter Anderson<sup>*</sup>, <b>Ayush Shrivastava</b><sup>*</sup>, Devi Parikh, Dhruv Batra, Stefan Lee</span>
                <br>
                (* denotes equal contribution)
                <br><span class="conf">NeurIPS 2019</span>
                <br>
                <br>
                <a href="https://arxiv.org/abs/1907.02022" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <a href="https://github.com/batra-mlp-lab/vln-chasing-ghosts" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a>
                <a href="/static/files/neurips19-vln-chasing-ghosts-poster.pdf" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Poster</button></a>
                <a href="https://www.youtube.com/watch?v=eoGbescCNP0" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Video</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <br/>
    <h3>Undergrad</h3>

    <div class="row">
      <div class="col-sm-4" align="center">
          <img class="thumb" src="/static/img/publications/auto_mammogram.png" width="100%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Automated digital mammogram segmentation using Dispersed Region Growing and Sliding Window Algorithm</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors"><b>Ayush Shrivastava</b><sup>*</sup>, Arpit Chaudhary<sup>*</sup>, Devang Kulshreshtha, Vibhav Prakash Singh, Rajeev Srivastava</span>
                <br>
                (* denotes equal contribution)
                <br><span class="conf"><a href="http://www.icivc.org/" target="_blank">ICIVC 2017</a></span>
                <br>
                <br>
                <a href="https://ieeexplore.ieee.org/document/7984579" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/mammogram_classification.png" width="80%">
      </div>
      <div class="col-sm-8">
        <h3 class="content_heading">Mammogram Classiﬁcation Using Selected GLCM Features and Random Forest Classiﬁer</h3>
        <p class="content">
          <p class="pubd">
              <span class="authors">Vibhav Prakash Singh, <b>Ayush Shrivastava</b>, Devang Kulshreshtha, Arpit Chaudhary, Rajeev Srivastava</span>
              <br><span class="conf">IJCSIS 2016</span>
              <br>
              <br>
              <a href="http://www.academia.edu/27067717/Mammogram_Classification_Using_Selected_GLCM_Features_and_Random_Forest_Classifier" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
              <br>
          </p>
        </p>
      </div>
    </div>

 </div>

      <!-- <div class="col-sm-12">
        <h3 class="content_heading">It Takes Two to Tango: Towards Theory of AI's Mind</h3>
        <p class="content">
            <p class="pubd">
                <span class="authors">Arjun Chandrasekaran<sup>*</sup>, <b>Deshraj Yadav</b><sup>*</sup>, Prithvijit Chattopadhyay<sup>*</sup>, Viraj Prabhu<sup>*</sup>, Devi Parikh</span>
                <br><span class="conf"><a>Chalearn Looking at People Workshop, CVPR 2017</a></span>
                <br>
            </p>


        <p>
          <a href="https://deshraj.github.io/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://github.com/deshraj/TOAIM" class="white-text"><button type="button" class="btn btn-primary ribbon">Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1704.00717">
            <img class="thumb" src="/static/img/toaim.jpg" width="100%">
          </a>
        </div>
      </div> -->

      <!-- <div class="col-sm-12">
        <h3 class="content_heading">Visual Dialog</h3>
        <p class="pubd">
          <span class="authors">Abhishek Das, Satwik Kottur, Khushi Gupta, Avi Singh, <b>Deshraj Yadav</b>, José M.F. Moura, Devi Parikh, Dhruv Batra</span>
          <br><span class="conf"><a>CVPR 2017 - Spotlight</a></span>
        </p>

        <p>
          <a href="https://visualchatbot.cloudcv.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Demo</button></a>
          <a href="https://visualdialog.org" class="white-text"><button type="button" class="btn btn-primary ribbon">Project Webpage</button></a>
          <a href="https://github.com/Cloud-CV/visual-chatbot" class="white-text"><button type="button" class="btn btn-primary ribbon">Visual Chatbot Code</button></a>
          <a href="https://github.com/batra-mlp-lab/visdial-amt-chat" class="white-text"><button type="button" class="btn btn-primary ribbon">Data Collection Code</button></a>
        </p>

        <div class="col-sm-12">
          <a href="https://arxiv.org/abs/1611.08669">
            <img class="thumb" src="/static/img/vd_thumb.jpg" width="100%">
          </a>
        </div>
      </div> -->
